{% extends "base.html" %}
{% block content %}
    <h1>Hi! Welcome to Booking App!</h1><br>
    <div style="text-align:center;font-size:25px;margin-bottom:30px;"> What do you want to do?</div>



        <div style="text-align:center;font-size:20px;margin-bottom:10px;"><a href = "/transport/drivers"> View all driver details.</a></div>

        <div style="text-align:center;font-size:20px;margin-bottom:10px;"><a href = "/transport/bookings"> View all booking details.</a></div>


        <div style="text-align:center;font-size:20px;margin-bottom:10px;"><a href = "/transport/assign"> Assign driver to a booking.</a></div>


{% endblock %}